target
/target/

# mvn hpi:run
work
/work/

# IntelliJ IDEA project files
*.iml
*.iws
*.ipr
.idea

# Eclipse project files
.settings
.classpath
.project

# vim
*.swp

# Mac OSX
.DS_Store

/.husky/
/.vscode/
/securitysdk.log
META-INF/
.mvn
